html
    head
        title Lemonade
        script.
    body
        a(href="/"): h1 Lemonade
        unless userId 
            a(href='/SignUp')
                button Sign up
            a(href='/SignIn')
                button Sign in
        else 
            p Welcome, #{userName}!
            a(href='/myPage/'+userId)
                button mypage
            a(href="/logout/"+userId)
                button Log out
        form(action="/" method="post")
            select(name="option" onchange="changed()")
                option(value="all") All
                option(value="product") Product
                option(value="seller") Seller
                option(value="title") Title
            if false
                select(name="item")
                    option(value="sample") sample
            else
                input(type="text" name="search" placeholder="Search")
            button(type="submit") Search
        ul  
            each item in data 
                //- if data == null
                    p= there is nothing!
                li
                    a(href='/lemon/'+item[0]+'/'+item[1])
                        h3= item[2]
                    p= item[3]
                    img= item[4]
                    //- if userId != null
                        form(action="/comment/"+item[0]+'/'+item[1] method="post")
                            input(type="text" name="comment")
                        a(href='/comment/'+item[0]+'/'+item[1])
                            button Comment
                    if userId == item[0]
                        a(href='/updateBoard/'+item[1])
                            button Edit
                        a(href='/deleteBoard/'+item[1])
                            button Delete